<div id="progress-wrap">
	<div id="progress-bar" class="init"></div>
</div>

<section id="quizfragen">	
	<p>{{question}}</p>

	<ul id="antwortliste" class="answer-list">
		<li class="answer"><button class="button primary outline" id="option-A">{{options.optionA}}</button></li>
		<li class="answer"><button class="button primary outline" id="option-B">{{options.optionB}}</button></li>
		<li class="answer"><button class="button primary outline" id="option-C">{{options.optionC}}</button></li>
		<li class="answer"><button class="button primary outline" id="option-D">{{options.optionD}}</button></li>
	</ul>

	<button id="zurueck">zurück</button>
</section>