<section id="quizfragen">
	<p>Super Frage</p>

	<ul id="antwortliste" class="answer-list">
		<li class="answer"><button class="button primary outline" id="answer1">{{answer1}}</button></li>
		<li class="answer"><button class="button primary outline" id="answer2">{{answer2}}</button></li>
		<li class="answer"><button class="button primary outline" id="answer3">{{answer3}}</button></li>
		<li class="answer"><button class="button primary outline" id="answer4">{{answer4}}</button></li>
	</ul>

	<button id="zurueck">zurück</button>
</section>