<div id="progress-wrap">
	<div id="progress-bar" class="init"></div>
</div>

<section id="quizfragen">	
	<p>{{quizFrage}}</p>

	<ul id="antwortliste" class="answer-list">
		<li class="answer"><button class="button primary outline" id="option-A">{{optionA}}</button></li>
		<li class="answer"><button class="button primary outline" id="option-B">{{optionB}}</button></li>
		<li class="answer"><button class="button primary outline" id="option-C">{{optionC}}</button></li>
		<li class="answer"><button class="button primary outline" id="option-D">{{optionD}}</button></li>
	</ul>

	<button id="zurueck">zurück</button>
</section>